.project
.settings
bin
pid
logs
common/target
core/target
web/target
mda/target
mda/Modelo-UML/*.bak
./*.exc
*.log
.settings/
start.bat
target
test.lck
test.properties
test.script
test.tmp
.project
.sts4-cache
schema-create.sql
**/.project
**/.classpath
.cache

instalacao/instalacao/deploy/*.jar
instalacao/instalacao/database/mssql
instalacao/instalacao/database/oracle
instalacao/instalacao/database/*.txt
.idea
.mvn
*.iml